body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

main {
  max-width: 1200px;
  margin: 10;
  padding: 50px;
}

#my-work {
  scroll-snap-align: start;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 80px;
  background-color: #333;
  color: white;
}

.logo img {
  height: 100px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 30px;
}

h1 {
  font-weight: 500;
  font-size: 7rem;
  margin-bottom: .1rem;
}

h2 {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: .5rem;
}

h3 {
  font-weight: 100;
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

h4 {
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: .5rem;
}

p {
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: 3.5rem;
}

.headline h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.padding-section {
  padding: 100px;
}

.buttons a {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #728EA6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.buttons a:hover {
  background-color: #F29C6B;
  transform: scale(1.1);
}

.myskills {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 33px;
}


.row {
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  display: block;
}

.column h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
}

.spacer {
  height: 120px;
}

.center {
  text-align: center;
}

.project {
  display: flex;
  margin-bottom: 10px;
}

.project img {
  width: 400px;
  height: 400px;
  object-fit: flex;

}

.project-info {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 1800px) {
  .project {
    flex-direction: column;
  }

  .project img {
    width: 100%;
    height: auto;
  }

  .project-info {
    margin-right: auto;
    margin-left: 10;
    margin-top: 20px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #333;
  color: white;
}

.contact-info {
  text-align: center;
}

.contact-info h2 {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-info li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.contact-info .btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #728EA6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.contact-info .btn:hover {
  background-color: #F29C6B;
  transform: scale(1.1);
}
